.responsiveWeb {
    scroll-behavior: smooth;
}

.responsiveMobile {
    display: none;
}

.responsiveweb {
    display: block;
}

#responsiveNav {
    position: sticky;
    z-index: 999;
    top: 0;
}


@media screen and (max-width: 750px) {
    .responsiveWeb {
        display: none;
    }

    .responsiveMobile {
        display: block;
    }
}