.AboutMobileAlignText {
    color: black;
    font-size: 30px;

}

.AboutMobileAlign {
    gap: 50px;
    display: flex;
    flex-direction: column;
}

.AboutMobileAlignText2 {
    color: #ED145C;
    font-size: 17px;
}

.AboutMobileSecond_secFont {
    font-size: 17px;
    color: black;
    line-height: 23px;
}

.AboutMobileAlignImage {
    height: 200px;
    object-fit: cover;
}

.AboutMobileImgAlign {
    width: 100%;
    display: flex;
    justify-content: center;
}